[submodule "leading-zeroes-counter"]
	path = leading-zeroes-counter
	url = https://github.com/ameetgohil/leading-zeroes-counter
[submodule "lzc"]
	path = lzc
	url = https://github.com/ameetgohil/leading-zeroes-counter.git
[submodule "lzc/"]
	url = https://github.com/ameetgohil/leading-zeroes-counter.git
